body {
    background-image: url(./1.jpg);
    margin: 0px ;
    padding: 0px ;
}

header {
    background-color: transparent;
    text-align: center;
    min-height: 10vh;
    transition: 0.5s;
}

header > h1 {
    color: rgb(240, 240, 240);
    font-size: 6em;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "Anton";
    transition: 0.5s ;
}

header:hover {
    background-color: rgb(27, 27, 27);
    font-size: 1.1em;
    transition: 0.5s ;
}

header > h1:hover {
    color: rgb(145, 20, 20);
    transition: 0.5s ;
}

main {
    padding: 15px ;
}

#Home {
    text-align: center;
}

#Quote > h2 {
    font-family: "Bebas Neue";
    font-size: 1em;
    font-style: italic;
    color: rgb(221, 221, 221);
    margin-top: 0px;

}

#FotoAbel {
    text-align: center;
    margin: 0rem;
}

#FotoAbel > img {
    width: 50vw ;
    height: 65vh ;
    transition: 1s;
    border: 4px solid rgb(105, 105, 105);
}

#FotoAbel > img:hover {
    opacity: 0.6;
    transition: 1s;
}

#FotoAbel > figcaption {
    font-size: 0.6em;
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    color: rgb(221, 221, 221);
}

.Titles {
    background-color: transparent;
    transition: 1s;
    font-size: 2.3rem;
    font-family: "Bebas Neue";
    text-align: center;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    margin-bottom: -10px;
}

.Titles:hover {
    background-color: rgb(27, 27, 27);
    transition: 1s;
    color: rgb(145, 20, 20);
}

.Text {
    font-family: "Roboto";
    font-size: 1rem;
    text-align: center;
    text-align: justify;
    color: rgb(202, 202, 202);
    padding-left: 50px;
    padding-right: 50px;
}

#Face1 > img {
    width: 25rem ;
    height: 25rem ;
    transition: 1s;
    float: left;
    padding: 15px;
    padding-left: 120px;
}

#Face1 > img:hover {
    opacity: 0.7;
    transition: 1s;
}

#Face2 > img {
    width: 25rem ;
    height: 25rem ;
    transition: 1s;
    float: left;
    padding: 15px;
}

#Face2 > img:hover {
    opacity: 0.7;
    transition: 1s;
}

#Opinion {
    text-align: center;
    clear: both;
}

footer {
    background-color: rgb(27, 27, 27);
    min-height: 5vh ;
    text-align: center ;
    clear: both;;
}

footer > p {
    font-size: 0.7rem;
    font-family: "Roboto";
    text-transform: uppercase;
    padding: 5px;
    color: rgb(202, 202, 202)
}

footer > address {
    font-size: 0.7rem;
    font-family: "Roboto";
    padding-bottom: 5px;
    color: rgb(202, 202, 202)
}